<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Vuer</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios@next"></script>
    <script src="https://unpkg.com/lodash@4"></script>
    <script src="https://unpkg.com/moment@2"></script>
    <link rel="stylesheet" href="/style/tailwind.css" />
  </head>
  <body class="bg-gray-100 min-h-screen text-gray-800">
    <div
      id="app"
      class="px-8 py-12 min-h-screen flex flex-col pb-0 sm:h-screen sm:grid sm:grid-cols-1 sm:grid-rows-layout sm:overflow-hidden lg:max-w-6 xl lg:mx-auto"
    >
      <main
        class="flex-grow flex flex-col h-full sm:grid sm:grid-cols-2 sm:gap-x-7 sm:items-stretch"
      >
        <section class="sm:flex sm:flex-col sm:overflow-hidden">
          <header>
            <app-title></app-title>
          </header>
          <search-block>
            <search-input
              :value="search"
              :placeholder="placeholder"
              ref="search-input-1"
              reference="search-input-1"
              :has-search="hasSearch"
              @input="getResults"
              @clear-search="clearSearch"
            ></search-input>
          </search-block>
          <div class="hidden sm:mt-6 sm:flex sm:flex-col sm:items-center">
            <robot-icon
              :has-search="hasSearch"
              :has-results="hasResults"
              :is-searching="isSearching"
            ></robot-icon>
            <div>{{resultsPlaceholder}}</div>
          </div>
          <div
            class="hidden sm:mt-6 sm:flex sm:flex-col sm:flex-grow sm:overflow-hidden"
          >
            <div class="text-3xl text-center font-bold">Recent History</div>
            <ul v-if="searchHistory.length" class="mt-4 h-full overflow-auto">
              <history-log
                v-for="(log, index) in searchHistory"
                :log="log"
                :index="index"
                :key="index"
                @load-history-log="loadHistoryLog"
                @delete-history-log="deleteHistoryLog"
              ></history-log>
            </ul>
            <div v-else class="text-center text-gray-400 mt-4">
              No logs yet...
            </div>
          </div>
        </section>
        <section class="overflow-auto">
          <div
            v-if="!hasResults"
            class="mt-6 flex flex-col items-center sm:hidden"
          >
            <robot-icon
              :has-search="hasSearch"
              :has-results="hasResults"
              :is-searching="isSearching"
            ></robot-icon>
            <div>{{resultsPlaceholder}}</div>
          </div>
          <div v-if="!hasFavorites && !hasResults" class="mt-6 sm:mt-0">
            <div class="text-center text-3xl font-bold mb-4">Tutorial</div>
            <div class="text-lg">1) Enter your search in the search input</div>
            <search-input
              :value="search"
              :placeholder="placeholder"
              ref="search-input-2"
              reference="search-input-2"
              @input="getResults"
              @clear-search="clearSearch"
            ></search-input>
            <div class="text-lg mt-3 mb-3">2) Add an API to your favorites</div>
            <ul>
              <result-item
                :index="-1"
                :result="tutorialResult"
                :favorite-results="favoriteResults"
                :has-search="hasSearch"
                @remove-from-favorites="removeFromFavorites"
                @add-to-favorites="addToFavorites"
              ></result-item>
            </ul>
            <div class="text-lg -mt-2">
              3) Reset the search by clicking on the
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="inline-block"
              >
                <path
                  d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12L20 6.91Z"
                />
              </svg>
            </div>
            <search-input
              :value="search"
              :placeholder="placeholder"
              ref="search-input-3"
              reference="search-input-3"
              @input="getResults"
              @clear-search="clearSearch"
            ></search-input>
            <div class="text-lg my-3">
              4) Load previous searches by clicking an history log
            </div>
            <ul>
              <history-log
                :log="tutorialHistoryLog"
                :index="-1"
                @load-history-log="loadHistoryLog"
                @delete-history-log="deleteHistoryLog"
              ></history-log>
            </ul>
          </div>
          <results-list v-if="hasFavorites && !hasResults">
            <result-item
              v-for="(result, index) in favoriteResults"
              :key="index"
              :index="index"
              :result="result"
              :favorite-results="favoriteResults"
              :has-search="hasSearch"
              @remove-from-favorites="removeFromFavorites"
              @add-to-favorites="addToFavorites"
            ></result-item>
          </results-list>
          <results-list v-if="hasResults">
            <result-item
              v-for="(result, index) in results"
              :key="index"
              :index="index"
              :result="result"
              :favorite-results="favoriteResults"
              :has-search="hasSearch"
              @remove-from-favorites="removeFromFavorites"
              @add-to-favorites="addToFavorites"
            ></result-item>
          </results-list>
        </section>
      </main>
      <footer class="flex items-center justify-center h-16">
        <a href="https://rildev.website" target="_blank" class="text-blue-500"
          >RilDev</a
        >
        &copy; 2021
      </footer>
    </div>
    <script type="module" src="/main.js"></script>
  </body>
</html>
